.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 30px auto;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .list {
    width: 30%;
  }
  
  .list h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list li {
    margin-bottom: 5px;
  }
  
  .form {
    width: 30%;
  }
  
  .form h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form form {
    margin-top: 0; 
  }
  
  .form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
  }
  
  .buttons button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#updateForm{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}


.login-form input, #updateForm input{
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button, #updateForm button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p{
  color:red;
}

#logOutBtn{
  background-color: white;
  border-width: 0px;
  color: blue;
  font-size: 20px;
  float: right;
}


.displayNone{
  display: none;
}