.done{
    text-decoration: line-through;
}


li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  
  h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }